/*
 * Nav
 */
$nav-height: 70px;
$nav-margin-bottom: 2rem;
$toggle-height: 70px;
$toggle-height-lg: $toggle-height * 2.5;
$toggle-bg-scale: 2; // Adjust this value according to number of nav elements

/*
 * Forms
 */
$input-height: 44px;

/*
 * Footer
 */
$footer-height: 100px;
$footer-margin: 30px;
