.tab__container {
  // background-color: $darkest;
  // @include breakpoint('ts') {
  //   margin: 0 -1000px;
  //   padding: 0 1000px;
  // }
}

.tab__list {
  border-bottom: 2px solid $dark;
  display: flex;
  padding: 10px 5px;

  .tab__item {
    flex: 1;
    padding: 10px;
    text-align: center;
  }

  .tab__link {
    background-color: transparent;
    border: {
      bottom: 2px solid transparent;
      left: none;
      right: none;
      top: none;
    }
    color: $light;
    padding: 0 0 10px 0;

    &.active {
      background-color: transparent;
      border-color: $primary;
      color: $light;
    }
  }
}
