// Colours
$purple: #3f1a62;
$orange: #f08e4a;
$orange-lightest: #daa972;
$orange-light: #d39952;
$orange-mid: #e27b36;
$orange-mid-dark: #bc581e;
$orange-dark: #c15711;
$brown: #7f3608;
$brown-lightest: #99703f;
$brown-light: #8f5e1e;
$brown-dark: #702e05;
$red-orange: #c45e38;
$red: #bf3813;
$red-dark: #c70039;
$blue: #1e90ff;
$blue-light: #61dafb;
$green: #228c1d;
$green-light: #91ce50;
$yellow: #f4d004;
$yellow-mid: #cf8f2e;
$yellow-dark: #d6bb22;
$gold: #cbad60;
$white: #ffffff;
$black: #000000;
$grey: #eeeeee;
$grey-light: #cccccc;
$grey-light-mid: #c9c9c9;
$grey-mid: #a2a2a2;
$grey-dark: #282c34;

//Brand colours
$ash: #2b363b;
$blue-dark: #001423;
$green-bright: #c7d52f;
$green-gross: #7f8a25;
$green-lime: #f3e600;
