.ask-a-question-wrap{
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.85);
  color: #fff;
  z-index: 1100;
  top: 100vh;
  .ask-question-close{
    position: absolute;
    right: 20px;
    font-size: 50px;
    z-index: 110;
  }
}

.aaq-thank-you-wrap,
.aaq-submitting-wrap{
  display: none;
}