.page-hyster-password-creation {
  * {
    font-family: Arial;
  }

  .auth__container {

    .auth__header {
      font-family: BebasNeue-Bold;
    }

    button[type=submit] {
      margin-top: 25px;
      font-family: BebasNeue-Bold;
    }

    @media (max-width: 415px) {
      .auth__header {
        width: 70%;
      }
    }

    @media only screen and (max-width: 567px) {
      .logo {
        padding-left: 15px;
      }

      .container {
        justify-content: unset;
      }
    }
  }
}