.reset-password {
  &__container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
    background-size: 100% 100%;

    background: url("/img/hyster/rectangle-2.png") no-repeat;
    background-size: 100% 100%;

    @media only screen and (max-width: 600px) {
      background: url("/img/hyster/mobile/rectangle-2.png") no-repeat;
      background-size: 100% 100%;
    }

    .container {
      display: flex;
      flex-direction: column;
      height: 100%;

      .row {
        padding-top: 50px;
      }

      @media only screen and (min-width: 992px) {
        justify-content: center;
      }

      @media only screen and (max-width: 567px) {
        justify-content: flex-end;
      }

      @media only screen and (min-width: 601px) and (max-width: 1023px)  {
        margin-left: 87px;
        margin-top: 131px;
      }
    }

    .hyster-line {
      border: 2px solid #9E1C20;
      width: 101px;
      margin: 26px 0px;
      margin-left: 0px;

      @media only screen and (max-width: 600px) {
        width: 100px;
        margin-top: 0px;
        margin-left: 12px;
      }
    }

    form {
      .reset-password-message {
        margin: 15px 0 20px;
        font-size: 16px;
        line-height: 20px;
        color: #fff;
        font-family: 'Arial';

        @media (max-width: 1023px) {
          font-size: 14px;
        }

        @media (min-width: 601px) {
          width: 512px;
        }

        @media (max-width: 600px) {
          margin-left: 12px;
          margin-right: 42px;
          margin-bottom: 50px;
        }
      }

      .send-email-tablet {
        padding: 5px 20px;
        width: 140px;
        font-size: 19px;
      }

      @media (min-width: 600px) {
        .send-email-mobile {
          display: none;
        }

        .reset-email-input {
          width: calc(100% - 160px);
          margin-right: 20px;
        }
      }

      @media (max-width: 600px) {
        .send-email-tablet {
          display: none;
        }
      }

      .link {
        display: block;
        padding: 0 0 10px 0;
        color: #ffe34b;
        text-decoration: underline;
        margin-top: 20px;
        font-size: 16px;

        @media (max-width: 600px) {
          margin-left: 5px;
        }
      }

      .form-control {
        border-radius: 0;
        border: none;
        background-color: #4d4d4d;
        color: #fff;
        font-family: 'Arial';

        @media (min-width: 601px) {
          width: 349px;
        }
      }

      button {
        color: #000;
        background-color: #FFE34B;
        border-radius: 0;
        font-weight: 700;
        font-family: 'BebasNeue-Bold';
        font-size: 19px;
        padding: 15px 25px;

        @media only screen and (max-width: 600px) {
          border-radius: 0;
          width: calc(100% + 50px);
          margin-left: -25px;
          padding: 15px 25px;
          border-top: 2px solid #ffe34b;
          font-size: 24px;
        }

        &:hover {
          border: 2px solid transparent;
        }
      }
    }
  }

  &__header {
    font-family: "BebasNeue-Bold";
    letter-spacing: 1.77px;
    font-size: 93px;
    /* fix for german language */
    line-height: 90px;
    color: #fff;
    max-width: 500px;

    @media (min-width: 601px) and (max-width: 1023px) {
      font-size: 65px;
      line-height: 78px;
      max-width: 600px;
    }

    @media (max-width: 600px) {
      margin-left: 12px;
      letter-spacing: 1.05px;
      font-size: 55px;
      line-height: 53px;
      width: 188px;
    }
  }
}
