.reset-password {
  &__container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
    background-size: 100% 100%;

    @media(max-width: 767px) {
      justify-content: normal;
    }

    background: url("/img/yale/rectangle-2.png") no-repeat;
    background-size: 100% 100%;

    @media only screen and (max-width: 600px) {
      background: url("/img/yale/mobile/rectangle-2.png") no-repeat;
      background-size: 100% 100%;
    }

    .yale-mobile-spacing {
      height: 80px;

      @media only screen and (max-width: 567px) {
        display: block;
      }

      @media (min-width: 600px) {
        display: none;
      }
    }

    .container {
      display: flex;
      flex-direction: column;
      height: 100%;

      .row {
        padding-top: 50px;
        @media only screen and (max-width: 600px) {
          padding-right: 20px;
          padding-left: 20px;
        }
      }

      @media only screen and (min-width: 992px) {
        justify-content: center;
      }

      @media only screen and (max-width: 567px) {
        justify-content: flex-end;
      }
    }

    form {
      .welcome-message {
        margin: 40px 0;
        color: #3e4545;
        font-family: 'DINNextLTPro-Light';
      }

      .reset-password-message {
        margin: 40px 0;
        color: #3e4545;
        font-family: 'DINNextLTPro-Light';

        @media (min-width: 1024px) {
          font-size: 16px;
          line-height: 24px;
          max-width: 500px;
        }

        @media only screen and (min-width: 601px) and (max-width: 1023px)  {
          font-size: 14px;
          line-height: 20px;
          max-width: 457px;
        }

        @media (max-width: 600px) {
          max-width: 302px;
          font-size: 14px;
          line-height: 20px;
          margin: 10px 0 30px;
          br {
            display: none;
          }
        }
      }

      .reset-form-container {
        @media (min-width: 1024px) {
          max-width: 340px;
        }

        @media only screen and (min-width: 601px) and (max-width: 1023px)  {
          max-width: 340px;
        }

        @media (max-width: 600px) {
          max-width: 302px;
        }
      }

      .send-email-tablet {
        padding: 10px 20px;
        width: 140px;
      }

      @media (min-width: 600px) {
        .send-email-mobile {
          display: none;
        }

        .reset-email-input {
          width: calc(100% - 160px);
          margin-right: 20px;
        }
      }

      @media (max-width: 600px) {
        .send-email-tablet {
          display: none;
        }
      }

      .link {
        display: block;
        padding: 0 0 30px 0;
        color: #e5a713;
        font-family: 'DINNextLTPro-Bold';
        text-decoration: underline;
        margin-top: 35px;

        @media (max-width: 600px) {
          margin-top: 18px;
        }

      }

      .form-control {
        font-size: 16px;
        border-radius: 8px;
        border: none;
        background-color: #e4e4e4;
        color: #3e4545;
        font-family: 'DINNextLTPro-Light';

        @media (min-width: 601px) {
          width: 340px;
        }
      }

      button {
        border-radius: 8px;
        color: #000;
        background-color: #E5A713;
        font-family: 'DINNextLTPro-Bold';
        font-size: 14px;
        padding: 10px 80px;
        font-weight: 700;

        @media (min-width: 601px) {
          width: 178px;
          padding: 10px 0px;
        }

        @media only screen and (max-width: 600px) {
          border-radius: 0;
          width: calc(100% + 70px);
          margin-left: -35px;
          font-size: 24px;
          color: #000;
          font-weight: 700;
          text-transform: uppercase;
          padding: 27px 80px;
        }
      }
    }
  }

  &__header {
    font-family: "DINNextLTPro-Bold";
    color: #e5a713;
    font-size: 55px;
    line-height: 53px;

    @media (min-width: 1024px) {
      font-size: 84px;
      line-height: 85px;
      max-width: 660px;
    }

    @media only screen and (min-width: 601px) and (max-width: 1023px)  {
      font-size: 74px;
      line-height: 85px;
      max-width: 451px;
    }

    @media (max-width: 600px) {
      max-width: 223px;
      font-size: 55px;
      line-height:55px;
      text-transform: capitalize;
    }
  }
}
